# unity auto
Library
Temp

# visual studio
obj/
github_client.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
*.user

# editor cfg
.idea/
.vs/

# depend
Assets/Lobby
Assets/Lobby.meta

Assets/Lua
Assets/Lua.meta

Assets/Lobby_UI
Assets/Lobby_UI.meta

Assets/Base_UI
Assets/Base_UI.meta

Assets/Custom
Assets/Custom.meta

Assets/game_mj
Assets/game_mj.meta

Assets/group
Assets/group.meta

Assets/hnqp
Assets/hnqp.meta

# test
mj_Data/
mj.exe

# other
