# unity auto gen
Library
Temp

# visual studio gen
obj/
github_client.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj

# editor cfg
.idea/
.vs/

# depend
Assets/Runtime/NGUI

Assets/Custom
Assets/Custom.meta

Assets/game_mj
Assets/game_mj.meta

Assets/Lobby
Assets/Lobby.meta

Assets/Lua
Assets/Lua.meta

Assets/Lobby_UI
Assets/Lobby_UI.meta

Assets/Base_UI
Assets/Base_UI.meta

# test
mj_Data/
mj.exe