Library
Temp

github_client.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj

.idea/
.vs/
obj/

Assets/Runtime/NGUI

Assets/game_mj
Assets/game_mj.meta

Assets/_custom/ignore
Assets/_custom/ignore.meta

Assets/Lobby
Assets/Lobby.meta

Assets/UI
Assets/UI.meta
